<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      {% if item.url == '/gsoc23' %}
      <a href="/gsoc23" style="background-color: #0077C0; color: #f8f8f8; border-radius: 5px; padding: 8px; text-decoration: none; margin-left: 10px; padding-bottom: 6px;">GSoC 23</a>
      {% else %}
      <a href="{{ item.url | relative_url }}" >{{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
