.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: default;
    .team-image {
      height: 60px;
      width: 60px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 26px;
        font-weight: bold;
      }
      p {
        color: $black;
        // text-transform: uppercase;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 8px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 8%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }
}
