.button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.3s ease;
  &:hover {
    color: #ffffff;
    background-color: lighten($primary, 10%);
    // transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.button-outline {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 35px;
  padding: 0 14px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  // border: 2px solid $primary;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #121212;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: $primary;
    // background-color: lighten($primary, 10%);
    // transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.button-text{
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  // padding: 0 14px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-weight: bold;
  // text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $primary;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.3s ease;
  text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  &:hover {
    color: lighten($primary, 10%);
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    // transform: translateY(-1px);
    //box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
   
  }
}

.accordion {
  background-color: #fcfcfc;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #c2c2c265;
  -webkit-transition: all 0.15s ease;
  transition: all 0.5s ease;}

.accordion:hover {
  background-color: #f7f7f7;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5 px;
}

.panel {
  padding: 0 18px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-left: 1px solid #c2c2c265;
  border-right: 1px solid #c2c2c265;
  line-height: 1.5em;
}

.last-panel {
  border-bottom: 1px solid #c2c2c265;
}

.panel li{
  padding-bottom: 0.2em;
}

.panel ol, ul{
  padding-left: 1em;
}
