@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham Medium';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: local(''), url('../fonts/gotham-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham Bold';
	font-display: swap;
	src: local(''), url('../fonts/gotham-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham Book';
	font-display: swap;
	font-weight: normal;
	src: local(''), url('../fonts/gotham-book.woff2') format('woff2');
}

@font-face {
	font-family: 'Gotham Light';
	font-display: swap;
	src: local(''), url('../fonts/gotham-light.woff2') format('woff2');
}

