---
layout: default
bodyClass: "page-team"
---

<div class="intro">
  <div class="container">
    {% if page.intro_image %}
    <center><div class="col-12 col-md-6 col-lg-4 order-1 order-md-1">
      <img alt={{ page.title }}
        class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
        src="{{ page.intro_image | relative_url }}" />
    </div></center>
    {% endif %}
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 order-2 order-md-2 pt-2 pb-0">
        <center>
          <h1 class="title">{{page.title}}</h1>
          <p>{{page.tagline}}</p>
        </center>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 mb-3 mt-0">
      <div class="content">{{content}}</div>

      <!-- testing -->
      {% assign projects = site.gsocprojects | sort: "num" %}
      {% for project in projects %}
      <div>
        <div class="accordion">{{project.num}}. {{project.title}}</div>
        <div class="panel">
          <p>{{project.content}}</p>
        </div>
      </div>
      {% endfor %}
      <!-- testing ends -->
    
      <br>
    </div>
  </div>
</div>